<section id="ai-art">
    <h2>AI in Art</h2>
    <p>
        Artificial intelligence is reshaping the creative landscape, offering new tools for artists and opening doors to unexplored artistic possibilities. My goal is to bridge the gap between artists and technical solutions, making AI an accessible and valuable creative partner.
    </p>

    <h3>Style Transfer</h3>
    <p>
        Style transfer allows an image to adopt the artistic characteristics of another. By leveraging neural networks, we can take a regular photo and make it look like a painting.  
        You can check out my implementation of neural style transfer on <a href="https://github.com/CarlosHernandezP/NeuralTransfer" target="_blank">GitHub</a>.
    </p>

    <div class="style-transfer-images">
        <div class="image-container">
            <img src="https://raw.githubusercontent.com/CarlosHernandezP/NeuralTransfer/master/summer.jpg" alt="Original Image">
            <p>Original Image</p>
        </div>
        <div class="image-container">
            <img src="https://raw.githubusercontent.com/CarlosHernandezP/NeuralTransfer/master/style_transfered.jpg" alt="Style Transferred Image">
            <p>Style Transferred Image</p>
        </div>
    </div>

    <h3>Diffusion Models</h3>
    <p>
        Diffusion models make it easier for users to create and implement ideas, generating highly detailed and complex images with minimal effort.
    </p>

    <div class="video-container">
        <video id="og-video" controls>
            <source src="/videos/og-video-fixed.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <video id="processed-video" controls>
            <source src="/videos/processed-video-fixed.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      </div>

    <script src="/scripts/ai_art.js" defer></script>

</section>

